mixin category(cat)
  li.categories-list__item
    a.category-tile.category-tile--default(href=cat.link)
      span.category-tile__image
        img(src=cat.img, srcset=`${cat.img}@2x.jpg 2x`, alt="Иконка категории")
      span.category-tile__label
        | #{cat.title} 
        span.category-tile__qty.js-qty #{cat.qty}
