mixin ticket-list(title, hiddenTitle, offers, pagination=false)
  section.tickets-list
    h2.visually-hidden #{hiddenTitle}
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title #{title} 
        a.tickets-list__link(href="#") Ещё #{offers.total}
      ul
        - for (let offer of offers)
            +ticket-list-item(offer)(class="tickets-list__item")
      if (pagination)
        .tickets-list__pagination !{offers.links()}
