mixin ticket-form(formData, label)
  .ticket-form__tile
    form.ticket-form__form.form(action="", method="post", enctype="multipart/form-data", autocomplete="off")
      .ticket-form__avatar-container.js-preview-container
        .ticket-form__avatar.js-preview
        .ticket-form__field-avatar
          input#avatar.visually-hidden.js-file-field(type="file", name="picture")
          label(for="avatar")
            span.ticket-form__text-upload Загрузить фото…
            span.ticket-form__text-another Загрузить другое фото…
      .ticket-form__content
        .ticket-form__row
          .form__field
            input#ticket-name.js-field(type="text", name="title", required="", value=formData.title)
            label(for="ticket-name") Название
            span Обязательное поле
        .ticket-form__row
          .form__field
            textarea#comment-field.js-field(name="description", cols="30", rows="10", maxlength="400", minlength="50") #{formData.description}
            label(for="comment-field") Описание
            span Обязательное поле
        .ticket-form__row
          select#category-field.form__select.js-multiple-select(name="category", data-label="Выбрать категорию публикации", data-options=JSON.stringify(categories.map(cat => ({text: cat.name, value: cat.id, selected: formData.category.some((el) => el.id === cat.id)}))))
        .ticket-form__row
          .form__field.form__field--price
            input#price-field.js-field.js-price(type="number", name="sum", min="1", required="", value=formData.sum)
            label(for="price-field") Цена
            span Обязательное поле
          .form__switch.switch
            +switch("type", types, formData.type)
      button.form__button.btn.btn--medium.js-button(type="submit", disabled="") #{label}
