mixin ticket-list-item(offer, js=false)
  li(class=`${attributes.class} ${js ? ` js-card` : ``}`)
    .ticket-card.ticket-card--color01
      .ticket-card__img
        if offer.picture
            img(src=offer.picture.small, srcset=`${offer.picture.big} 2x`, alt="Изображение товара")
        else
            img(src=`/img/blank.png`, srcset=`/img/blank@2x.png 2x`, alt="Изображение товара")

      .ticket-card__info
        span.ticket-card__label #{offer.type === "sell" ? "Продам" : "Куплю"}
        .ticket-card__categories
          each cat in offer.category
            a(href=`/offers/category/${cat.id}`) #{cat.name}
        .ticket-card__header
          h3.ticket-card__title
            a(href=`/offers/${offer.id}`) #{offer.title}
          p.ticket-card__price
            span.js-sum #{offer.sum}
            |  ₽
        if !js
            .ticket-card__desc
              p #{offer.description}
      if js
          a.ticket-card__del.ticket-card__edit(type="button", href=`/offers/edit/${offer.id}`) Редактировать
          button.ticket-card__del.js-delete.ajax-delete(type="button", data-url=`${meta.apiUrl}/offers/${offer.id}`, data-id=offer.id) Удалить
