extends ../../layouts/base/layout

block content
  section.ticket
    .ticket__wrapper
      h1.visually-hidden Карточка объявления
      .ticket__content
        .ticket__img
          img(src=offer.picture.small, srcset=`${offer.picture.big} 2x`, alt="Изображение товара")
        .ticket__info
          h2.ticket__title #{offer.title}
          .ticket__header
            p.ticket__price
              span.js-sum #{offer.sum}
              |  ₽
            p.ticket__action #{offer.type === 'buy' ? 'КУПЛЮ' : 'ПРОДАМ'}
          .ticket__desc
            p #{offer.description}
          .ticket__data
            p
              b Дата добавления:  
              span #{offer.createdAt}
            p
              b Автор:
              a(href=`/offers/author/${offer.author.id}`)  #{offer.author.name}
            p
              b Контакты:
              a(href=`mailto:${offer.author.email}`)  #{offer.author.email}
          ul.ticket__tags
            each cat in offer.category
              li
                a.category-tile.category-tile--small(href=`/offers/category/${cat.id}`)
                  span.category-tile__image
                    img(src=cat.picture, srcset=`${cat.picture.replace(/\.(?=[^.]*$)/, `@2x.`)} 2x`, alt="Иконка категории")
                  span.category-tile__label #{cat.name}

      .ticket__comments
        h2.ticket__subtitle Комментарии
        .ticket__comment-form
          if currentUser
            form.form.comment-form(action="", method="post", autocomplete="off")
              .comment-form__header
                a.comment-form__avatar.avatar(href=`/offers/author/${currentUser.id}`)
                  +avatar(currentUser)
                p.comment-form__author Вам слово
              .comment-form__field
                .form__field
                  textarea#comment-field.js-field(name="text", cols="30", rows="10", maxlength="400", minlength="20")
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type="submit") Отправить

        if comments.length > 0
          .ticket__comments-list
            ul.comments-list
              - for (comment of comments)
                  li
                    .comment-card
                      .comment-card__header
                        a.comment-card__avatar.avatar(href=`/offers/author/${comment.author.id}`)
                          +avatar(comment.author)
                        p.comment-card__author #{comment.author.name}
                      .comment-card__content
                        p #{comment.text}
        else
          .ticket-message
            p У этой публикации еще нет ни одного комментария.
